<a href="https://colab.research.google.com/github/izanfadlullah/python/blob/main/Day_1to3_Fundamental_IFB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# @title
# COMMENTS
# COMMENTS PROVIDES MEANINGFUL INFORMATION ABOUT YOUR CODE / PROGRAM
# COMMENTS IN PYTHON STARTS WITH #

In [ ]:
# print ()
# buit-in fuction used to display message or result on a screen
print ("Hello World")
print ('Welcome to Phyton')
print (10+5)

Hello World
Welcome to Phyton
15

In [ ]:
# to know more about any built in function
# help(functionName)
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
# sep used to separate value by using a whitespace
print('Python','Programming','Is','Fun','To','Learn')
print(78,89,101)
print('Python','Programming','Is','Fun','To','Learn',sep='-->')

Python Programming Is Fun To Learn
78 89 101
Python-->Programming-->Is-->Fun-->To-->Learn

In [ ]:
# end used to add \n [newline] at the end of the value
print('Python')              # Python\n
print('Programming')         # Programming\n
print('Nexperts',end='\t')   # \t tabSpace   Nexperts   Academy
print('Academy')             # Academy\n
print('Yash')

Python
Programming
Nexperts	Academy
Yash

In [ ]:
# Variables
# a variable is a container for storing the information

# Rules For Variables
# Rule 1 : a variable can not starts with a number
# Rule 2 : a variable can not have a whitespace
# Rule 3 : variables are case sensitive
# Rule 4 : try to avoid using reserved keywords as your variable names
#                   if, print, help, for, while, def, del,

In [ ]:
# Day 2
# Data Types
# Strings in Phyton
# Raw Strings
# Character Escape Sequence
# Strings In Triple Quotes
# Indexing And Slicing
# String Formating

In [ ]:
# Data Types
# data type defines what kind of a value a variable can hold

# Python is a Dynamically Typed Programming Language
#   a.) we don't need to write data type before declaring a variable
#   b.) we can re-assign diff diff values to a variable

# INT  : used to hold numeric valu [positive/negative]

a = 18
print(a)

# type(varname) : used to determine the data type of a variable

print(type(a))

# FLOAT : used to hold a decimal value
b = 90.231
print(b,type(b))

# STRING : used to hold textual data
c = "Python"
print(c,type(c))

# BOOLEAN : used to hold either True / False (*1st letter capital letter)
d = True
print(d,type(d))

18
<class 'int'>
90.231 <class 'float'>
Python <class 'str'>
True <class 'bool'>

In [ ]:
# STRINGS In Python
# String is a data type used to store textual data
# String is a collection of characters
# String can be defined using ' "

str1 = 'Python'
str2 = "Programming"
print(type(str1) , type(str2))

<class 'str'> <class 'str'>

In [ ]:
# INDEXING
# indexing allows ust to retrieve only one single value
# Indexing is denoted by using [] square brackets

name = 'sofea'
# s o f e a
# 0 1 2 3 4
# -5 -4 -3 -2 -1

print(name)
print(name[2])
print(name[0])
print(name[-1])

sofea
f
s
a

In [ ]:
# Slicing
# slicing allows to retrieve portion / sub-portion of a sequence
# syntax :   varname[startIndex:stopIndex]
# startIndex : index no. from where slicing will begin     INCLUSIVE
# stopIndex  : index no. where slicing will end            EXCLUSIVE

course = "PythonProgramming"
# P  y   t    h    o     n     P    r    o    g    r    a    m    m    i    n    g
# 0  1   2    3    4     5     6    7    8    9   10    11   12   13   14   15   16

print(course)

print(course[0:9])
print(course[9:13])
print(course[4:9])
print(course[6:])



# in slicing if stopIndex is missing then slicing will go through till the last character
print(course[6:])

# in slicing if startIndex is missing then slicing will begin from index no. ZERO
print(course[:9])

# syntax :   varname[startIndex:stopIndex:stepCount/interval]
print(course[6:13:2])   # Program   --> P  o  r  m
print(course[6:13:4])   # Program   --> P r

PythonProgramming
PythonPro
gram
onPro
Programming
Programming
PythonPro
Porm
Pr

In [ ]:
name = 'izan fadllullah'
print(name[::-1])

hallulldaf nazi

In [ ]:
# Raw Strings
print(r'C:\newFolder\test\abc')

C:\newFolder\test\abc

In [ ]:
# Character Escape Sequence
print('I did\'t do that')  # in single quotes if you need to use another single quotes
print("Welcome To \"Nexpert\" Academy")

print('Welcome To "Nexpert" Academy. It\'s Awesome')

I did't do that
Welcome To "Nexpert" Academy
Welcome To "Nexpert" Academy. It's Awesome

In [ ]:
# Strings in triple quotes
print('Weather Report\n\n\tKuala Lumpur : 27 Degree\n\n\tNew Delhi : 32 Degree')

print('''Weather Report
      Kuala Lumpur : 27 Degree

      New Delhi    : 32 Degree


''')

Weather Report

	Kuala Lumpur : 27 Degree

	New Delhi : 32 Degree
Weather Report
      Kuala Lumpur : 27 Degree

      New Delhi    : 32 Degree

In [ ]:
# String Concatenation / Formatting
name = "John"
course = "Phyton"
fees = 1500
# John is learning Phyton and the fees is 1500 RM
# + operator requires left hand and right hand side value to be of type STRING
print(name+' is learning '+course+' and the course fees is '+str(fees)+' RM')
print(name,'is learning',course,'and the course fees is',fees,'RM')

# formatting --> variables define in curly braces {}
print(f'{name} is learning {course} and the course fees is {fees} RM.')

John is learning Phyton and the course fees is 1500 RM
John is learning Phyton and the course fees is 1500 RM
John is learning Phyton and the course fees is 1500 RM.

In [ ]:
name = "Alex"
qty = 2
item = "T-Shirt"
price = 299

# Alex wants to purchase 2 T-Shirt worth RM299 each
# emojicopy.com
print(f'{name} wants to purchase {qty} {item} worth {price} each ðŸ˜Ž')

Alex wants to purchase 2 T-Shirt worth 299 each ðŸ˜Ž

In [ ]:
# DAY 3
# Type Casting
# Taking an user input
# Operators

# Type casting is a process of converting one data type into another data type

# intValue ---> string
# str(intValue)

# floatValue ---> string
# str(floatValue)

# intValue --> float
# float(intValue)

# floatValue --> int
# int(floatValue)

# boolValue --> string     True --> 'True'
# str(boolValue)

# mistakes to avoid

#name = "yash"
#print(int(name))

In [ ]:
name = input('Your name :')
age = int(input('Your age :'))

Your name :Izan
Your age :18

In [ ]:
# Taking an user input
# input() built-in function used to take user input
# input(prompt/message)

name = input('Enter Your Name : ')
print('Welcome User :',name)

Enter Your Name : izan
Welcome User : izan

In [ ]:
print('Enter Your Email Address')
email = input()
print('Your Email Address Is :',email)

Enter Your Email Address
izan@kiswire.com
Your Email Address Is : izan@kiswire.com

In [ ]:
# input() function treat every input as a STRING
val1 = int(input('Enter First Value : '))       # 20
val2 = int(input('Enter Second Value : '))      # 30
res = val1 + val2                               # 20+30
print('After Addition :',res)

Enter First Value : 20
Enter Second Value : 30
After Addition : 50

In [ ]:
# Operators
# Operators are used to perform operations on variables

# Arithmetic Operators
# +  -   *    /   //    %  **

a = 90
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a/b)  # In Python Division Operator Returns Value In FLOAT
print(a//b) # // Floor Division Operator Returns Value In INT
print(a%b)  # gives us remainder
print(a**b) # a raise to the power of b  [90 raise to the power of 5]
print(78**78)

95
85
450
18.0
18
0
5904900000
3831589812313461262138726500006414268147534037893115512325908939170687185145438579006950082195309705885134607990418665607337632973770507236843454464

In [ ]:
# point to be remember
# in python we don't have increment or decrement operator
a = 100
a = a + 1
print(a)

# a++   a--

101

In [ ]:
import math
print(math.ceil(4.9))
print(math.floor(4.9))

5
4

In [ ]:
# Assignment Operator  =
a = 90
print(a)

# Compound assignment operator
val = 100
val -= 1      # val = val - 1
print(val)

90
99

In [ ]:
# Comparison Operator
# <  >   <=   >=   ==   != (*Not Equal)
# Returns Value In Boolean [True / False]

print(90<100)
print(100>300)
print(800==800)

age = 17
print(age>=18)  #  age>18  age==18

print(90!=100)

True
False
True
False
True

In [ ]:
# Logical Operators
# AND OR NOT

# AND operator requires more than one condition
# AND operator returns TRUE only when both the conditions are TRUE

print(100==100 and 50<100)
#      cond1        cond2
#       true         true


print(100==100 and 50>100)
#      cond1        cond2
#       true         false

print(10==100 and 50>100)
#      cond1        cond2
#      false        false

True
False
False

In [ ]:
# OR operator requires more than one condition
# OR operator returns TRUE when both the conditions are TRUE
# OR operator returns TRUE if any one of the conditions is TRUE
# OR operator returns FALSE when both the conditions are FALSE

print(100==100 or 50<100)
#      cond1        cond2
#       true         true


print(100==100 or 50>100)
#      cond1        cond2
#       true        false

print(10==100 or 50>100)
#      cond1        cond2
#      false        false

True
True
False

In [ ]:
# NOT operator
# inverse the result
# True --> False     False --> True

print(not(100==100 and 50<100))

False

In [ ]:
# Membership Operator
# in  not in

name = "John Smith"
print('o' in name)
print('Smith' in name)
print('s' in name) # case sensitive even s exist but not in capital letter result False

# not in
print('J' not in name)  # 'J' does exist in name result become false
print('s' not in name)  # 's' does not exist in name  true

True
True
False
False
True